@media screen and (max-width: 767px) {
  body {
    overflow-x: hidden;
    overflow-y: auto;
  }
  body > main {
    padding-inline: 0px;
  }
  body > main > section {
    width: 95%;
  }
}
@media screen and (max-width: 650px) {
body {
    height: min-content !important;
}
  body > main > section {
    flex-direction: column;
    align-items: center;
    height: min-content;
  }
  body > main > section > div {
    width: 300px;
    height: 450px;
    margin-block: 10px;
  }
}
